

<nav class="navbar navbar-expand navbar-dark bg-dark mt-3 justify-content-center">
      <ul class="navbar-nav">
         <li class="dropdown"> 
            <select id="language" name="language" class="form-select" required [(ngModel)]="language" (ngModelChange)="onLanguageChange($event)">
              <option value="" disabled selected>Select programming language</option>
              <option *ngFor="let language of languages" >{{ language }}</option>
            </select>
         </li> 
      </ul>
</nav>