<form (ngSubmit)="onSubmit()" #enterAmountForm="ngForm" >
        
    <div class="d-flex justify-content-center mt-4">
    <div  style="width: 500px;">
    <div class="d-flex justify-content-left mt-2" style="padding-left: 5px; padding-right: 5px;">
         <div>New denomination: </div>
    </div>
    <input type="text"  (input)="onAmountInput($event)"  id="enterAmount" class="form-control mt-2" [(ngModel)]="amount"  [ngModelOptions]="{standalone: true}" required>
     <button  type="submit" class="btn btn-primary w-100" [disabled]="enterAmountForm.invalid">
       Submit
     </button>

     <div id="passwordHelpBlock" class=" form-text" style="padding-left: 5px;">
       Please enter an amount in  format "0.00". 3 decimal places are not acctepted. 
     </div>
    </div>
    </div>
</form>


<div class="d-flex justify-content-center mt-4" *ngIf="showDenomination">
<div  style="width: 500px;">
    
 <div class="d-flex justify-content-between mt-2" style="padding-left: 5px; padding-right: 5px;">
  <div>New denomination:</div>
  <div class="text-end">{{ denominationWithAmount.amount }}</div>
</div>



<table  class="table table-dark mt-2" >
  <tbody>

    <tr>
      <td colspan="2" class="table-active">Notes/Coins</td>
      <td>Quantity</td>
    </tr>
    <tr class="table" *ngFor="let entry of getDenominationMapFromDenomationResponseObject(denominationWithAmount)">
      <td colspan="2" class="table-active" >{{entry[0]}}</td> 
      <td >{{entry[1]}}</td>
    </tr>
  </tbody>
</table>

</div>
</div>


<div class="d-flex justify-content-center mt-4" *ngIf="showComparison">
    <div  style="width: 500px;">
    
 <div class="d-flex justify-content-between mt-2" style="padding-left: 5px; padding-right: 5px;">
  <div>Difference to: </div>
  <div class="text-end">{{previousDenominationWithAmount.amount}}</div>
</div>
<table style="width: 500px;" class="table table-dark mt-2 ">
  <tbody>
 
    <tr>
      <td colspan="2" class="table-active">Notes/Coins</td>
      <td>Quantity</td>
    </tr>
    <tr class="table" *ngFor="let entry of getDenominationMapFromDenomationResponseObject(comparisonDenominationWithPreviousAmount)">
      <td colspan="2" class="table-active" >{{entry[0]}}</td> 
      <td>
        <span *ngIf="entry[1] > 0">+{{ entry[1] }}</span>
        <span *ngIf="entry[1] <= 0">{{ entry[1] }}</span>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
